node_modules
data
temp

# Yarn PnP
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Environment
.env
.env.*

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Debug
*.log
npm-debug.log*
